.container .title{
    color:#f8f8f8;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.title .query-text{
    color: #ff0000;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    padding: 2rem;
    max-width: 1200px ;
    margin: 0 auto;
}

.movies-container div{
    width: 30%;
    color: #f8f8f8;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#0a0a0a ;
    padding: 1.5rem;
}

.movies-container div img{
    max-width: 100%;
}

.movies-container div img, .movies-container div p, .movies-container div h2{
    margin-bottom: 1.2rem;
    font-size: 95%;
}

.movies-container div svg{
    color: #ff0000;
}

.movies-container div a{
    background: #ff0000;
    border: 1px solid #6e0202;
    border-radius: 10px;
    padding: 1rem 0.6rem;
    color: #f8f8f8;
    transition: 0.3s;
    text-align: center;
    font-size: 12px;
}

.movies-container div a:hover{
    background: transparent;
}